@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Zen+Kaku+Gothic+New&display=swap");

* {
	box-sizing: border-box;
	color: #ffe81f;
	background-color: black;
	font-family: Zen Kaku Gothic New, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#app {
	display: flex;
    gap: 15dvw;
}

#database {
	display: flex;
	flex-direction: column;
}

#race {
	display: flex;
	flex-direction: column;
}
