* {
	box-sizing: border-box;
    color: #FFE81F;
    background-color: black;
}

#app {
    display: flex;
}

#database {
    display: flex;
    flex-direction: column;
}

#race {
    display: flex;
    flex-direction: column;
}